html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #592018;
background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --portaH: 310px;
  --portaW: 200px;
}
